* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Opensans-Ebold;
  src: url(./fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: Opensans;
  src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Opensans-bold;
  src: url(./fonts/OpenSans-Bold.ttf);
}
@import url(//db.onlinewebfonts.com/c/41f5e8ff1d98d490a19c6d48ea7b74b1?family=Beyond+The+Mountains);
@font-face {
  font-family: "Beyond The Mountains";
  src: url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.eot");
  src: url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/41f5e8ff1d98d490a19c6d48ea7b74b1.svg#Beyond The Mountains")
      format("svg");
}
html {
  font-family: Opensans;
}
#main {
}

#header {
}
.header-top {
  position: fixed;
  top: 0;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  background-color: #350a4e;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: #fff;
  transition: transform ease-in-out 0.3s; /*animation cho header-top*/
}

.header-top-hide {
  /* scroll thì js sẽ giúp thêm class này vào */
  transform: translateY(-100%);
}
.phone-number {
  padding-right: 45px;
  margin-left: 88px;
}
.header-social li {
  list-style-type: none;
  display: inline-block;
}
.header-social li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.header-social li:hover a {
  color: #fa9e1b;
}
.header-acc {
  display: flex;
  margin-right: 88px;
}
.login:hover,
.register:hover {
  color: #fa9e1b;
}
.login {
  padding: 0 6px;
  border-right: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}
.register {
  color: #fff;
  text-decoration: none;
  padding: 0 6px;
}
.header-bot {
  position: fixed;
  top: 0;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #350a4e96;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  padding: 93px 88px 42px;
  transform: translateY(-30px);
  transition: all 0.5s ease-in-out; /*animation cho scroll header-bot*/
}
.header-bot-sticky {
  /* scroll thì js sẽ giúp thêm class này vào */
  background-color: #350a4edc;
  padding: 50px 88px 22px;
  /* margin-top: 0px; */
}
.logo {
  font-size: 30px;
  font-family: Opensans-Ebold;
}
.logo img {
  max-width: 45px;
  max-height: 45px;
}
.header-nav {
  display: flex;
}
.header-nav li {
  padding: 3px 1px;
  margin: 0 17px;
  list-style-type: none;
}
.header-nav li a {
  text-decoration: none;
  font-size: 14px;
  font-family: Opensans-bold;
  color: #fff;
}
.header-nav li a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin: 4px -3px 0;
  background-color: transparent;
}
@keyframes header-nav {
  from {
    opacity: 0;
    transform: translateX(calc(-100%));
  }
  to {
    transform: translateX(0);
    opacity: 1;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
  }
}
.header-nav li:hover a {
  color: #fa9e1b;
}
.header-nav li:hover a::after {
  animation: header-nav ease 0.3s forwards;
}
.search-btn {
  padding: 10px;
  margin-left: 85px;
}
.search-btn:hover i {
  color: #fa9e1b;
  cursor: pointer;
}
#slider {
  background: url(./image/header/bg_header.webp) top center / cover no-repeat;
  height: 627px;
  position: relative;
}
.overlay {
  background-color: #350a4e50;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 35px;
}
.slider-heading {
  font-size: 112px;
  font-weight: 900;
  font-family: Opensans-Ebold;
  text-transform: uppercase;
  margin-top: 110px;
  max-height: 124px;
}
.slider-sub-heading {
  font-family: "Beyond The Mountains";
  font-size: 100px;
}
.slider-explore-container {
  width: 240px;
  height: 54px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
}
.slider-explore-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  top: 17px;
  left: 53px;
  z-index: 100;
  pointer-events: none;
}
.slider-explore-btn {
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  width: 480px;
  height: 100%;
  padding: 17px 52px;
  transition: transform ease 0.3s;
}
.slider-explore-btn:hover {
  transform: translateX(-50%);
  cursor: pointer;
}

.fas.fa-circle {
  font-size: 6px;
}
.two {
  opacity: 0.8;
}
.three {
  opacity: 0.5;
}
.navigation {
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  border-radius: 100px 100px 0 0;
}
.navigation li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 30px 50px;
  transition: background-color 0.4s;
}
.navigation li:hover {
  color: #fff;
  cursor: pointer;
  background-color: #fa9e1b;
}
.navigation li:last-child {
  border-radius: 0 100px 0 0;
}
.navigation li:first-child {
  display: inline-block;
  border-radius: 100px 0 0 0;
}
.navigation li:hover i {
  color: #fff;
}
.slider-nav-icon {
  color: #fa9e1b;
  font-size: 30px;
  margin-right: 4px;
}
#input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
}
#input div:first-child {
  min-width: 394px;
}
.input-container {
  display: inline-block;
  margin: 0 6px;
  padding: 58px 0;
}
.input-container h5 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 8px;
  font-size: 12px;
}
.input-space-ipt {
  min-width: 190px;
  max-height: 44px;
  padding: 14px;
  border: none;
  outline: none;
  width: 100%;
}
#input div:first-child {
  min-width: 394px;
}
#age {
  min-width: 88px;
  color: rgba(0, 0, 0, 0.74);
  font-weight: bold;
  max-height: 44px;
  border: none;
  outline: none;
  padding: 13.5px;
}
#age:hover {
  cursor: pointer;
}
.input-search {
  display: inline-block;
  background-color: #31124b;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 14.5px 62px;
  font-size: 13px;
  border-radius: 50px;
  margin-top: 22.3px;
  margin-left: 6px;
  transition: opacity ease 0.2s;
}
.input-search:hover {
  opacity: 0.7;
  cursor: pointer;
}
#content {
}

#footer {
}
